Tarea5_WEB/UI/Service References/SVC_service/service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2765/service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="Calculador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idigito1" type="xs:int" />
        <xs:element minOccurs="0" name="idigito2" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cSimbolo" type="q1:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalculadorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Palindromo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sPalabra" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bPalin" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PalindromoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PalindromoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>